- const faqs = [{summary: 'How many team members can I invite?', description: 'You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.'},{summary: 'What is the maximum file upload size?', description: 'No more than 2GB. All files in your account must fit your allotted storage space.',open: true},{summary: 'How do I reset my password?', description: 'Click “Forgot password” from the login page or “Change password” from your profile page. A reset link will be emailed to you.'},{summary: 'Can I cancel my subscription?', description: 'Yes! Send us a message and we&apos;ll process your request no questions asked.'},{summary: 'Do you provide additional support?', description: 'Chat and email support is available 24/7. Phone lines are open during normal business hours.'}]

div.container--faqs 
  each faq in faqs
    details(open=faq.open ? '' : undefined) #{faq.description}
      summary #{faq.summary}
        <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
    